#video {
    position: absolute;
    margin: 0 0 0 0;
  background-color: rgba(0, 0, 0);
    width: 100%;
    height: 900px;
}

#filter{
   position: absolute; 
/* 50% opacity for supported browsers */
  background-color: rgba(82, 240, 227, 0.1);
    width: 100%;
    height: 900px;
}

#snap{
    color: black;
}

#canvas {
/* 100% opacity for supported browsers */
      background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 900px;
}